.name{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    width: fit-content;
    justify-content: center;
}
.div{
    flex-direction: row;
    display: flex;
}
body{
    background-color:aliceblue;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Home {
    background-color: rgb(201, 226, 231);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
} 
.Home:hover {
    background-color: grey;
    color: black;
    font-style: initial;
}
.about{
    color: white;
    background-color: rgb(201, 226, 231);
    padding: 10px 20px;
    border-radius: 10px;
}
.about:hover {
    background-color: grey;
    color: black;
    font-style: initial;
}
